@import "./../../Assets/Styles/Variables.scss";

.loans-overview-container {
  box-sizing: border-box;
  height: 160px;
  width: 100%;
  border: 1px solid $GrayPrimary;
  padding: 20px 12px;
  border-radius: 15px;
  .header {
    border-bottom: 1px solid $GrayPrimary;
    padding-bottom: 12px;
    .icon {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition-duration: 0.12s;
      &:hover {
        background-color: rgba(218, 218, 218, 0.445);
      }
    }
  }
  .content {
    width: 100%;
    padding-top: 20px;
    box-sizing: border-box;
    .item {
      width: 33%;
      border-right: 1px solid $GrayPrimary;
      &:last-child {
        border-color: transparent;
      }
    }
  }
  @media screen and (max-width: 1300px) {
    & {
      .content {
        .item {
          .label {
            font-size: 14px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 1200px) {
    & {
      .content {
        .item {
          border: none;
        }
      }
    }
  }
}
