@import "./../../Assets/Styles/Variables.scss";
.login-container {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  .login {
    width: 580px;
    height: 390px;
    box-sizing: border-box;
    .logo {
      width: 350px;
      margin-bottom: 20px;
    }
    .input-container {
      width: 100%;
      border: 2px solid $GrayPrimary;
      height: 55px;
      padding: 0 20px;
      box-sizing: border-box;
      border-radius: 8px;
      .icon {
        color: $Black;
        font-size: 20px;
      }
      .input {
        border: none;
        height: 100%;
        box-sizing: border-box;
        width: -webkit-fill-available;
        outline: none;
        font-size: 16px;
        margin-left: 20px;
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          -webkit-box-shadow: 0 0 0 30px $White inset !important;
        }
      }
    }
    .btn {
      height: 45px;
      width: 100%;
      border: none;
      outline: none;
      cursor: pointer;
      background-color: $Black;
      color: $White;
      font-size: 17px;
      font-weight: 500;
      border-radius: 10px;
    }
    @media screen and (max-width: 600px) {
      & {
        width: 90vw;
      }
    }
    @media screen and (max-width: 400px) {
      & {
        .logo {
          width: 200px;
        }
      }
    }
  }
  .otp {
    width: 580px;
    height: 350px;
    // border: 1px solid var(--mantine-color-gray-4);
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    .logo {
      width: 300px;
      margin-bottom: 20px;
    }
  }
  .btn {
    height: 45px;
    width: 300px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: $Black;
    color: $White;
    font-size: 17px;
    font-weight: 500;
    border-radius: 10px;
  }
}
