@import "./../../Assets/Styles/Variables.scss";

.balance-overview-container {
  margin-top: 30px;
  .balance-overview {
    border: 1px solid $GrayPrimary;
    padding: 20px 15px;
    margin-top: 12px;
    box-sizing: border-box;
    border-radius: 15px;
    height: 180px;
    .label {
      font-size: 14px;
    }
  }

  .new-card-btn {
    background-color: $Black;
    color: $White;
    border: 1px solid $Black;
    outline: none;
    height: 45px;
    border-radius: 8px;
    cursor: pointer;
    transition-duration: 0.12s;
    &:hover {
      background-color: rgb(67, 67, 67);
    }
    .icon {
      border: 2px dashed $White;
      height: 27px;
      width: 27px;
      border-radius: 50%;
      font-size: 15px;
      margin-right: 7px;
    }
  }
}
