@import "./../../Assets/Styles/Variables.scss";
.select-business-container {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid $GrayPrimary;
  border-radius: 12px;
  padding: 30px;
  height: 100vh;
  .select-business {
    .business {
      width: 400px;
      display: flex !important;
      height: 140px;
      padding: 15px 0;
      box-sizing: border-box;
      flex-direction: column;
      transition-duration: 0.12s;

      .name,
      .initials {
        width: fit-content;
      }
    }
  }
}
