@import "./../../Assets/Styles/Variables.scss";
.top-nav-container {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  padding: 0 30px 0 20px;
  border-bottom: 1px solid $GrayTertiary;
  position: fixed;
  top: 0;
  z-index: 9;
  background-color: $White;
  .left {
    height: 100%;
    .logo {
      height: 50px;
    }
    .small-logo {
      display: none;
    }
  }
  .right {
    height: 100%;

    .nav {
      height: 100%;
      margin-right: 20px;
      .nav-item {
        height: 100%;
        border-bottom: 3px solid transparent;
        margin: 0 10px;
        font-size: 14px;
        transition-duration: 0.12s;
        font-weight: 500;
        color: $GraySecondary;
        &:focus {
          color: $GraySecondary;
        }
        &:hover {
          color: $Black;
        }
      }
      .nav-item-active {
        border-bottom-color: $Black;
        color: $Black;
        &:hover {
          color: $BluePrimary;
        }
      }
    }
    .middle {
      .toggle-menu {
        display: none;
      }
      .middle-item {
        height: 50px;
        width: 50px;
        border-radius: 5px;
        transition-duration: 0.12s;
        &:hover {
          background-color: rgba(1, 1, 1, 0.04);
        }
      }
    }
    .end {
      // border-left: 3px solid $GrayPrimary;
      margin-left: 15px;
      padding-left: 20px;
      .avatar {
        width: 35px;
        height: 35px;
      }
      .profile {
        margin: 0 20px;
      }
    }
  }
  @media screen and (max-width: 1220px) {
    & {
      .right {
        .nav {
          display: none;
        }

        .middle {
          .toggle-menu {
            display: flex;
            margin-right: 25px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 620px) {
    & {
      .left {
        .small-logo {
          display: flex;
          height: 40px;
        }
        .logo {
          display: none;
        }
      }
      .right {
        .end {
          .profile,
          .dropdown {
            display: none;
          }
        }
      }
    }
  }
  @media screen and (max-width: 420px) {
    & {
      .left {
        .logo {
          height: 35px;
        }
      }
    }
  }
}
.sm-nav {
  display: none !important;
}
@media screen and (max-width: 1220px) {
  .sm-nav {
    display: flex !important;
    flex-direction: column !important;
    position: fixed;
    right: 40%;
    z-index: 999;

    top: 80px;
    width: 200px;
    align-items: flex-start;
    background-color: $White;
    overflow: clip;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    .sm-nav-item {
      height: 35px;
      margin: 5px 0;
      padding: 0 10px;
      width: 100%;
      justify-content: flex-start;
      font-size: 14px;
      transition-duration: 0.12s;
      font-weight: 500;
      color: $GraySecondary;
      &:focus {
        color: $GraySecondary;
      }
      &:hover {
        color: $Black;
      }
    }
    .sm-nav-item-active {
      color: $Black;
      background-color: $WhitePrimary;
      &:hover {
        color: $BluePrimary;
      }
    }
  }
}
@media screen and (max-width: 420px) {
  .sm-nav {
    right: 10px;
  }
}
