@import "./../../Assets/Styles/Variables.scss";

.sidebar-container {
  .toggle {
    width: 36px;
    position: fixed;
    top: 100px;
    z-index: 999;
    left: 40px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sidebar {
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 99;
    width: 350px;
    background-color: #000;
    justify-content: space-between;
    padding-top: 150px;
    padding-left: 50px;
    box-sizing: border-box;
    .link {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 220px;
      color: $White;
    }
    .link-active {
      background-color: $GrayPrimary;
      color: $Black;
    }
  }
}
